<!-- Main start -->

<h1>Dashboard</h1>
<main>

    <div class="date">
        <input type="date" name="" id="">
    </div>
    <div class="insights">
        <div class="sales">
            <i class="bi bi-file-bar-graph"></i>
            <div class="middle">
                <div class="left">
                    <h3>Total Users</h3>
                    <h1>{{UserCount}}</h1>
                </div>
                <div class="progresss">
                    <ngx-charts-pie-chart
                     [legend]="true" [results]="userdata" [legend]="false" [labels]="false">
                    </ngx-charts-pie-chart>
                </div>
            </div>

        </div>
        <!-- End Fo Sales -->
        <div class="expenses">
            <i class="bi bi-bar-chart-fill"></i>
            <div class="middle">
                <div class="left">
                    <h3>Total Courses</h3>
                    <h1>{{CourseCount}}</h1>
                </div>
                <div class="progresss">
                    <ngx-charts-pie-chart [legend]="true" [results]="coursedata" [legend]="false" [labels]="false">
                    </ngx-charts-pie-chart>
                </div>
            </div>

        </div>
        <!-- End Fo Expenses -->

        <!-- End Fo Income -->
    </div>
    <!-- <div class="recent-orders">
        <h2>Recent Orders</h2>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Number</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
        <a href="#">Show All</a>
    </div> -->
</main>

<!-- Main end -->